.Side-bar
  .User-name
    .Name-box
      %p.Name-box__user
        masa
      .Name-box__logos
        %a{ href: "#", class: "far fa-edit" }
        %a{ href: "#", class: "fas fa-cog" }
  .List
    - 3.times do 
      .Contents
        %p.Contents__group-name
          techcamp
        %p.Contents__message
          まだメッセージがありません